@use "variables" as *;

@mixin button(
  $bgColor: $color-principal,
  $fontWeight: 400,
  $width: 128px,
  $fontSize: 1rem,
  $padding: 0.5rem,
  $margin: 1rem,
  $fontColor: white
) {
  background-color: $bgColor;
  font-weight: $fontWeight;
  width: $width;
  font-size: $fontSize;
  padding: $padding;
  margin: $margin;
  color: $fontColor;
  &:hover {
    -webkit-animation: pulse infinite  1s;
    animation: pulse infinite  1s;
    background-color: #123445;
  }
}
