@use "variables" as *;
@use "mixins" as *;

.sponsors {
  width: 96%;
  margin-top: 4.5rem;
}

.card {
  background-color: $color-principal;
  color: white;
  width: 18.8rem;
  height: 18.8rem;

  .card__img {
    width: auto;
    height: 150px;
    overflow: hidden;
    text-align: center;

    img {
      width: auto;
      height: 150px;
    }
  }

  .card__contend {
    height: 128px;

    div {
      .card__contend_button {
        @include button(
          $bgColor: $color-secundario,
          $fontWeight: bold,
          $margin: 0.5rem
        );
        text-align: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  .sponsors {
    width: 80%;
  }
}
