@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Outfit:wght@800&display=swap");

// Colores
$color-principal: #212121;
$color-secundario: #da291c;

// Tipografías
$font-principal: "Outfit", sans-serif !important;
$font-secundaria: "Hanken Grotesk", sans-serif !important;

// Imágenes
$img-header: "../assets/img/header.jpg";
