.contactUs {
  width: 90%;
  margin-top: 5rem;
  background-color: #e5e3e3;
}

.contactUs__form__item--label {
}

.contactUs__form__item--input {
}

.contactUs__form__item--textArea {
  font-size: 16px;
}

.contactUs__form__containerButtons--input {
  width: 10rem;
}

@media (min-width: 768px) {
  .contactUs__form__item--input,
  .contactUs__form__item--textArea {
    width: 60% !important;
  }
  .contactUs__form__item--label {
    width: 40% !important;
  }
}

@media (min-width: 1024px) {
  .contactUs {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .contactUs {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .contactUs {
    width: 50%;
  }
}